 /* Container for text */
 /* .carousel-container {
     padding: 0;
     position: relative;
 }

 .carousel-container:hover {
     box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
     transition: box-shadow 0.3s ease, transform 0.3s ease;
 }

 .image-container {
     position: relative;

    
 }

 .custom-image {
     width: 100%;
     height: auto;
 }

 .loading-bar {
     background: orange;
     height: 4px;
     width: 0%;
     margin-top: -8px;
     position: absolute;
     animation: grow-width 3s infinite;
 }

 @keyframes grow-width {
     100% {
         width: 100%;
     }
 }

 .arrow-container {
     display: flex;
     justify-content: space-between;
     position: absolute;
     bottom: 48%;
     width: 100%;
 }

 .arrow-left,
 .arrow-right {
     font-size: xxx-large;
     color: white;
     opacity: 0.4;
     cursor: pointer;
 }

 .arrow-left:hover,
 .arrow-right:hover {
     opacity: 0.8;
 }

 .arrow-left:hover,
 .arrow-right:hover {
     opacity: 0.8;
 }

 .arrow-left {
     padding-left: 3%;
 }

 .arrow-right {
     padding-right: 3%;
 }


 .split-text-container {
     display: flex;
     font-size: 2vw;
     font-weight: bold;
     text-transform: uppercase;
     color: greenyellow;
     position: absolute;
 
     top: 93%;
     left: 50%;
     transform: translate(-50%, -50%);
     overflow: hidden;
 }

 .text-part {
     display: inline-block;
 } */


 /* Container for text */
 .carousel-container {
     padding: 0;
     position: relative;
 }

 /* .carousel-container:hover {
     box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
     transition: box-shadow 0.3s ease, transform 0.3s ease;
 } */

 .image-container {
     position: relative;

     display: flex;
     flex-direction: row;

     overflow: hidden;
     /* Evita que aparezca el scroll */

  

 }

 .custom-image {

     /* height: auto; */
     width: 50%;
     /* width: auto; */
 }

 .text-container {

     height: auto;
     /* width: 100%; */
     width: 50%;
     background-color: #1f1f1f;
     margin-bottom: 4px;
 }

 .loading-bar {
     background: greenyellow;
     height: 5px;
     width: 0%;
     /* margin-top: -8px; */
     /* top: 97.5%; */

    bottom: 4px;

     /* margin-top: 463px; */

     position: absolute;
     animation: grow-width 6s infinite;
     /* suma 2s fade*/
     overflow: hidden;

 }

 @keyframes grow-width {
     100% {
         width: 100%;
     }
 }

 .arrow-container {
     display: flex;
     justify-content: space-between;
     position: absolute;
     bottom: 48%;
     width: 100%;
 }

 .arrow-left,
 .arrow-right {
     /* font-size: xxx-large; */
     font-size: 5vw;

     color: white;
     opacity: 0.4;
     cursor: pointer;
 }

 .arrow-left:hover,
 .arrow-right:hover {
     opacity: 0.8;
 }

 .arrow-left {
     padding-left: 3%;
 }

 .arrow-right {
     padding-right: 3%; 
     z-index: 2;
 }

 

 /* Animations for fade-in and fade-up */
 @keyframes fade-in {
     0% {
         opacity: 0;
         transform: translateY(20px);
         /* Desplazamiento hacia abajo */
     }

     100% {
         opacity: 1;
         transform: translateY(0);
     }
 }

 @keyframes fade-up {
     0% {
         opacity: 0;
         transform: translateY(0px);
         /* Desplazamiento hacia abajo */
     }

     100% {
         opacity: 1;
         transform: translateY(50px);
     }
 }

 /* Classes that apply animation effects */
 .fade-in {
     animation: fade-in 4s ease-in-out;
 }

 .fade-up {
     animation: fade-up 4s ease-in-out;
 }

 /* .split-text-container {
    display: flex;
    font-size: 2vw;
    font-weight: bold;
    text-transform: uppercase;
    color: greenyellow;
    position: absolute;
    top: 93%;
  
    left: 25%;
    transform: translate(-50%, -50%);
    overflow: hidden;
} */

 /* 
 .split-text-container {
    display: flex;
    font-size: 3vw;
    font-weight: bold;
    text-transform: uppercase;
    color: greenyellow;
    position: absolute;
    top: 91%;
    left: 4%;  
    width: 100%;  
    text-align: left;  
    overflow: hidden;
} */

 .split-text-container {
     display: flex;
     /* font-size: 3vw; */
     font-size: 1vw;
     font-weight: bold;
     text-transform: uppercase;
     color: white;
     position: absolute;
     top: 45%;
     /* Ajustamos para centrar verticalmente */
     left: 26%;
     /* Ajustamos para centrar horizontalmente */
     transform: translate(-50%, -50%);
     /* Compensa el 50% de top y left */
     /* width: 100%; */
     width: 50%

     text-align: center;
     /* Centra el texto dentro del div */
     overflow: hidden;
 }


 .text-part {
     display: inline-block;
 }